.post
    width: 500px
    margin: auto
    padding: 10px
    text-align: left
    .card
        border: 1px solid lightgray
        box-shadow: lightgrey 1px 1px 10px
        border-radius: 5px
    .header
        font-size: 12px
        display: flex
        .post-info
            padding: 10px
            .date
                color: gray
    .body
        font-size: 20px
        padding: 10px 20px
    .footer
        display: flex
        justify-content: space-around
        padding: 10px 0px